{{ define "views/Logs.gohtml" }}
  {{ template "components/Head.gohtml" }}
  {{ template "components/Header.gohtml" . }}
  {{ template "components/LogList.gohtml" . }}
  {{ template "components/PageEnd.gohtml" }}
{{ end }}
