{{ define "views/Logs.gohtml" }}
  {{ template "components/Head.gohtml" }}
  {{ template "components/Header.gohtml" . }}
  <div class="container section">
    {{ template "components/LogList.gohtml" . }}
  </div>
  {{ template "components/PageEnd.gohtml" }}
{{ end }}
