{{ define "views/Requests.gohtml" }}
  {{ template "components/Head.gohtml" }}
  {{ template "components/Header.gohtml" . }}
  {{ template "components/RequestList.gohtml" . }}
  {{ template "components/PageEnd.gohtml" }}
{{ end }}
