{{ define "views/Requests.gohtml" }}
  {{ template "components/Head.gohtml" }}
  {{ template "components/Header.gohtml" . }}
  <div class="container section">
    {{ template "components/RequestList.gohtml" . }}
  </div>
  {{ template "components/PageEnd.gohtml" }}
{{ end }}
