{{ define "components/Header.gohtml" }}
  <header>
    <nav role="navigation">
      <a href="{{ .baseURL }}/">{{ .applicationName }}</a>
      <a href="{{ .baseURL }}/">Requests</a>
      <a href="{{ .baseURL }}/logs">Logs</a>
      <a href="{{ .baseURL }}/info">System</a>
    </nav>
  </header>
{{ end }}
