{{define "components/PageEnd.gohtml"}}
    <footer class="container section has-text-centered has-text-white">

            Made with&nbsp;❤️&nbsp;and hosted on
            <a
                    target="_blank"
                    rel="noopener noreferrer"
                    href="https://github.com/averageflow/goscope"
            >GitHub</a
            >

    </footer>
        </body>
        </html>
{{end}}